<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crowd Tracking & Recognition System</title>
	<link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>

<body>
	<h1>Crowd Tracking & Recognition System</h1>

	<div class="camera-container">
		<video class="camera" id="camera" autoplay muted></video>
		<img class="camera-overlay" id="camera-overlay" />
	</div>

	<div class="controls">
		<button id="toggle-process">Start Processing</button>
		<button id="reset-tracker">Reset Tracker</button>

		<select id="select-recognizer">
			<option value="sift_akaze_flann" selected>SIFT+AKAZE & FLANN</option>
			<option value="mbc_ltp_knn">MBC+LTP & KNN</option>
		</select>
	</div>

	<script src="{{ url_for('static', path='script.js') }}"></script>
</body>

</html>