<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crowd Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <h1>Crowd Tracker</h1>

    <div class="camera-container">
        <video class="camera" id="camera" autoplay muted></video>
        <img class="camera-overlay" id="camera-overlay" />
    </div>

    <div class="controls">
        <button id="toggle-process">Start Processing</button>
    </div>

    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>
</html>
